<!DOCTYPE html>

<html>

<head>

    <title>AD</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <header>

        <h1>Anomaly Detection Z Score</h1>

        <a href="/">Home</a>

    </header>


    <div class="container">

        <div class="model-box">

            <h2>Anomaly Detection</h2>

            <p>
                Anomaly detection is used to detect any un usual element/value in a dataset.
            </p>

            <button onclick="runModel()">
                Run AD
            </button>

        </div>


        <div id="result" class="result">

            <h2>Results</h2>

        </div>

    </div>


    <script>

        function runModel() {

            fetch("/run-anomaly_detection_z_scoring", {

                method: "POST"

            })

                .then(response => response.json())

                .then(data => {

                    if (data.error) {

                        document.getElementById("result").innerHTML =
                            "<h2>Error</h2><p>"
                            + data.error
                            + "</p>";

                        return;

                    }


                    let html = "";

                    html +=
                        "<h2>"
                        + data.model
                        + "</h2>";

                    html +=
                        "<p>Total Components: "
                        + data.total_components
                        + "</p>";


                    html += "<h3>Explained Variance</h3>";

                    html += "<ul>";

                    data.explained_variance.forEach(
                        function (value, index) {

                            html +=
                                "<li>PC"
                                + (index + 1)
                                + ": "
                                + Number(value).toFixed(2)
                                + "%</li>";

                        }
                    );

                    html += "</ul>";


                    document.getElementById("result").innerHTML =
                        html;

                });

        }

    </script>

</body>

</html>